body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.past {
	background-color: gray;
}

.free {
	background-color: lightgreen;
}

.reserved {
	background-color: darkgreen;
}

.taken {
	background-color: indianred;
}

.selected {
    background: yellow;
}

button.btn {
	font-weight: bold;
}

table {
	width: 90%;
	border: black;
	text-align: center;
}

td {
    width:6%;
    position:relative;
}

.input-group-addon.label-info.panel-info {
	color: #fff;
	background-color: #337ab7;
	border-color: grey;
}