body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.past {
	background-color: gray;
}

.free {
	background-color: lightgreen;
}

.reserved {
	background-color: darkgreen;
}

.taken {
	background-color: indianred;
}

.selected {
    background: yellow;
}
