
<div class="modal fade" id="aboutBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About</h4>
      </div>
      <div class="modal-body">
        <h3>Got group work? Get-a-Room</h3>
        Get-a-Room is a booking system for reserving common spaces in the university.</br>
        <ul>
        <li>How to reserve?
        <ol>
          <li>Start by selecting the building</li>
          <li>Enter your email</li>
          <li>Select time & date</li>
          <li>Click on "Reserve"</li>
        </ol>
        </li>
        <li>How to cancel?
        <ol>
          <li>Enter your email </li>
          <li>Click on "Manage reservations"</li>
          <li>Cancel or rebook using the links in the email we sent you :)</li>
        </ol>
        </li>
        </ul>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

