<header class="information-header"  style="margin-bottom:10px;">
  <div class="row">
    <div class="col-md-12">
      <h1>Get-a-Room</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li {% if building == None %} class="active" {% endif %} ><a href="/">Campus Buildings</a></li>
        {% if building != None %}
          <li class="active"><a href="" onclick="event.preventDefault();">{{ building }} Rooms</a></li>
      	{% endif %}  
        <li><a href="" data-toggle="modal" data-target="#aboutBox" >About</a></li>
      </ul>
    </div>
  </div>
</header>
{% include "about.html" %}
