{% for room in rooms %}      	
<div class="row" id="{{ room.id }}">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-8">
       
      	<div class="input-group input-group-lg">
	    
	  <div class="text-left  span4 collapse-group input-group-addon">
    Room {{ room.id }} 
	    <p><a class=" btn" href="#">View details &darr;</a></p>
	    <div class="text-left collapse">
	    <b>{{ room.type }} for </b><br/>
	    {{ room.size }} persons<br/>
	    <b>location:</b> {{ room.location }}<br/>
	    <b>features:</b> <br/>
	    {% for feature in room.features  %}   
	      * {{ feature }}<br/>
	    {% endfor %} 
	    <b>insights:</b> <br/>
	    {% for insight in room.insights  %}   
	      * {{ insight }}<br/>
	    {% endfor %}
	    <b>Free times:</b><br/>
      <table id="{{ room.id }}_reservations" border="1" style="width:220px" align="center">
        <tr>  
          <td> </td> <td>m</td> <td>t</td> <td>w</td> <td>t</td> <td>f</td> <td>s</td> <td>s</td> 
        </tr>
        {% for slot in room.reservationData  %}
        <tr>        
        <td>{{ forloop.counter0|add:"8" }}:00 - {{ forloop.counter0|add:"9" }}:00</td> 
          {% for day in slot  %}
            {% if day %}
              <td class = "reserved"></td></td>
            {% else %}
              <td class = "free" name="reserve" value="{{ forloop.counter0 }},{{forloop.parentloop.counter0}}"></td>
            {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </table> 
	    </div>		  
   
	  <button type="" class="btn btn-default" onclick="reserve('{{ room.id }}')">Reserve</button>
	  </div> 
        
      	</div>
      	  
      </div>
 
    </div> 
     
</div>
           
{% endfor %}
<script type="text/javascript">
  $('.row .btn').on('click', function(e) {
      e.preventDefault();
      var $this = $(this);
      var $collapse = $this.closest('.collapse-group').find('.collapse');
      $collapse.collapse('toggle');
  });
</script>
<script type="text/javascript">
  reserve = function(roomID) {
    var timeSlots = $("#" + roomID + "_reservations td.free.selected");
    reservations = "";
    for (var i = 0; i < timeSlots.length; i++) {
      if (reservations != "") reservations = reservations + " ";
      reservations = reservations + timeSlots[i].attributes[2].nodeValue;
    };
    $("#search-form")[0]["reserve"].value = roomID + ":" + reservations;
    $("#search-form").submit();
  };
/* reserve = function(roomID) {
    var table = $("#" + roomID + "_reservations")[0]; 
      reservations = "";
      for (var i = 1, row; row = table.rows[i]; i++) {
         for (var j = 0, col; col = row.cells[j]; j++) {
           var cb= $(col).children()[0];
           if (cb.checked) {
             if (reservations != "") reservations = reservations + " ";
             reservations = reservations + cb.value;
           }
         }  
      }
      $("#search-form")[0]["reserve"].value = roomID + ":" + reservations;
      $("#search-form").submit();
  }; */
</script>

<script type="text/javascript">
function myFunction() {
    var x = document.getElementById("roomtype");
    var y = document.getElementById("roomlocation");
    var z = document.getElementById("roomsize");
    var tab2 = document.getElementById("2tables");
    var proj = document.getElementById("projector");
    var flag1 = false;
    var flag2 = false;
    {% for room in rooms %}
      if (("{{ room.type }}" == x.value || x.value == "All") && ("{{ room.location }}" == y.value || y.value == "All") && ("{{ room.size }}" == z.value || z.value == "All")){

        $("#{{ room.id }}").show();

        flag1 = false;
        falg2 = false;
        {% for feature in room.features  %}
          if ("{{ feature }}" == "Two tables") {
            flag1 = true;
          }
          if ("{{ feature }}" == "Projector") {
            flag2 = true;
          }
        {% endfor %}

        if ((tab2.checked == true) && (flag1 == false)){
          $("#{{ room.id }}").hide();
        }
        if ((proj.checked == true) && (flag2 == false)){
          $("#{{ room.id }}").hide();
        }
      }
      else {
        $("#{{ room.id }}").hide();
      }
    {% endfor %}
}
</script>

<script type="text/javascript">
$( ".free" ).click(function() {
  $( this ).toggleClass( "selected" );
});
</script>
