{% for room in rooms %} 
<div class="row" id="{{ room.id }}">
    <div class="col-md-6 col-md-offset-3">
<div class="text-center  span4 collapse-group panel panel-primary">
    <div class="panel-heading">
    <b>Room {{ room.id }}</b>
    <a class="btn col-md-offset-2 expandbutton" href="#" style="color:white">View details &darr;</a>
    <button type="" class="btn btn-success col-md-offset-2" onclick="reserve('{{ room.id }}')">Reserve</button>
    </div>
    <div class="panel-body">
      <div class="text-left collapse">
      <b>Free times:</b><br/>
      <table class = "reservations_tables" id="{{ room.id }}_reservations" border="1" align="center">
        <tr>  
          <td> </td> <td>m</td> <td>t</td> <td>w</td> <td>t</td> <td>f</td> <td>s</td> <td>s</td> <td>m</td> <td>t</td> <td>w</td> <td>t</td> <td>f</td> <td>s</td> <td>s</td> 
        </tr>
        {% for slot in room.reservationData  %}
        <tr>        
          <td>{{ forloop.counter0|add:"8" }}h</td> 
          {% for day in slot  %}
            {% if day == 0 %}
              <td class = "past"></td>
            {% elif day == 1 %}
              <td class = "free" name="reserve" value="{{ forloop.counter0 }},{{forloop.parentloop.counter0}}"></td>
            {% elif day == 2 %}
              <td class = "reserved"></td>
            {% elif day == 3 %}
              <td class = "taken"></td>
            {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      <b>{{ room.type }} for </b><br/>
      {{ room.size }} persons<br/>
      <b>location:</b> {{ room.location }}<br/>
      <b>features:</b> <br/>
      {% for feature in room.features  %}   
        * {{ feature }}<br/>
      {% endfor %} 
      <b>insights:</b> <br/>
      {% for insight in room.insights  %}   
        * {{ insight }}<br/>
      {% endfor %}
      <img src="{{ room.map }}" style="width:200px" align="center">
      <img src="{{ room.picture }}" style="width:200px" align="center">
            
      <table style="width:220px; height:20px" align="center">
      <caption style="text-align:center; color:black"><b>Availability</b></caption>
        <tr>
          <td><b>Free&nbsp;</b></td>
          <td style="background-color: #0000b6"></td>
          <td style="background-color: #0119ff"></td>
          <td style="background-color: #0081ff"></td>
          <td style="background-color: #00e5f8"></td>
          <td style="background-color: #52ffa5"></td>
          <td style="background-color: #a5ff52"></td>
          <td style="background-color: #f7f500"></td>
          <td style="background-color: #ff9400"></td>
          <td style="background-color: #ff3800"></td>
          <td style="background-color: #b60000"></td>
          <td><b>&nbsp;Busy</b></td>
        </tr>
      </table><br/>
      <table id="{{ room.id }}_statistics" border="1" style="width:220px" align="center">
        <tr>  
          <td> </td> <td>m</td> <td>t</td> <td>w</td> <td>t</td> <td>f</td> <td>s</td> <td>s</td>
        </tr>
        {% for slot in room.statistics  %}
        <tr>        
          <td>{{ forloop.counter0|add:"8" }}h</td> 
          {% for day in slot  %} 
            <td
            {% if day < 10 %}
              style="background-color: #0000b6";
            {% elif day < 20 %}
              style="background-color: #0119ff";
            {% elif day < 30 %}
              style="background-color: #0081ff";
            {% elif day < 40 %}
              style="background-color: #00e5f8";
            {% elif day < 50 %}
              style="background-color: #52ffa5";
            {% elif day < 60 %}
              style="background-color: #a5ff52";
            {% elif day < 70 %}
              style="background-color: #f7f500";
            {% elif day < 80 %}
              style="background-color: #ff9400";
            {% elif day < 90 %}
              style="background-color: #ff3800";
            {% else %}
              style="background-color: #b60000";
            {% endif %}></td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      </div>
      </div>
      </div>
      </div>
      </div>
{% endfor %}


<script type="text/javascript">
  $('.expandbutton').on('click', function(e) {
      e.preventDefault();
      var $this = $(this);
      var $collapse = $this.closest('.collapse-group').find('.collapse');
      $collapse.collapse('toggle');
  });
</script>
<script type="text/javascript">
  reserve = function(roomID) {
    var timeSlots = $("#" + roomID + "_reservations td.free.selected");
    reservations = "";
    for (var i = 0; i < timeSlots.length; i++) {
      if (reservations != "") reservations = reservations + " ";
      reservations = reservations + timeSlots[i].attributes.getNamedItem("value").value;
    };
    $("#search-form")[0]["reserve"].value = roomID + ":" + reservations;
    $("#search-form").submit();
    Cookies.set('gaRemail', $("input[name='email']").val(), { expires: 30, path: '/' });
  };

</script>

<script type="text/javascript">
function myFunction() {
    var x = document.getElementById("roomtype");
    var y = document.getElementById("roomlocation");
    var z = document.getElementById("roomsize");
    var tab2 = document.getElementById("2tables");
    var proj = document.getElementById("projector");
    var flag1 = false;
    var flag2 = false;
    {% for room in rooms %}
      if (("{{ room.type }}" == x.value || x.value == "All") && ("{{ room.location }}" == y.value || y.value == "All") && ("{{ room.size }}" == z.value || z.value == "All")){

        $("#{{ room.id }}").show();

        flag1 = false;
        falg2 = false;
        {% for feature in room.features  %}
          if ("{{ feature }}" == "Two tables") {
            flag1 = true;
          }
          if ("{{ feature }}" == "Projector") {
            flag2 = true;
          }
        {% endfor %}

        if ((tab2.checked == true) && (flag1 == false)){
          $("#{{ room.id }}").hide();
        }
        if ((proj.checked == true) && (flag2 == false)){
          $("#{{ room.id }}").hide();
        }
      }
      else {
        $("#{{ room.id }}").hide();
      }
    {% endfor %}
}
</script>

<script type="text/javascript">
$( ".free" ).click(function() {
  $( this ).toggleClass( "selected" );
  $( this ).closest(".panel").find(".btn-success").toggleClass("btn-success").toggleClass("btn-notime").attr("disabled","disabled");
  if ($( this ).closest(".reservations_tables").find(".selected").length > 0) {
    $( this ).closest(".panel").find(".btn-notime").toggleClass("btn-notime").toggleClass("btn-success").removeAttr("disabled");
  };
});
</script>
