<form id="search-form" class="form-horizontal" role="form" method="post" action="">
{% csrf_token %}
<input name="building" type="hidden" class="required form-control input-lg" placeholder="building" value="{{ building }}">
<input name="reserve" type="hidden" class="required form-control input-lg" placeholder="reserve" value="">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="input-group input-group-lg">
          <span class="input-group-addon label-info panel-info"><i class="fa fa-sign-out"></i><div style="width:50px" align="center">Email</div></span>
          <input name="email" type="email" class="required form-control input-lg" placeholder="email" value="{{ email|default_if_none:"" }}">
          
          <button type="" class="form-control input-lg btn btn-info" onclick="manageReservations()">Manage reservations</button>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="input-group input-group-lg">
          <span class="input-group-addon label-info panel-info"><i class="fa fa-sign-out"></i><div style="width:50px" align="center">Time</div></span>
          
          <input name="time" type="time" class="required form-control input-lg " placeholder="time" value="{{ time }}" style="width:50%; float:left">
          
          <input name="time2" type="time" class="required form-control input-lg" placeholder="time2" value="{{ time2 }}" style="width:50%; float:left">
         
          <input name="day" type="date" class="required form-control input-lg" placeholder="day" value="{% now 'Y-m-d' %}" min="{% now 'Y-m-d' %}" max="{{ maxday }}" style="width:100%; float:left">



      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="input-group input-group-lg">
          <span class="input-group-addon label-info panel-info"><i class="fa fa-sign-out"></i><div style="width:50px" align="center">Room</div></span>
          <input id="searchRoom" name="roomID" type="text" class="form-control input-lg" placeholder="" value="{{ roomID|default_if_none:"" }}">
      </div>
    </div>
  </div>
</form>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="input-group input-group-lg collapse-group">
      <p><a class=" btn expandbutton" href="#">Advanced search &darr;</a></p>
        <div class="text-left collapse">
          <!--<span class="input-group-addon label-info panel-info"><i class="fa fa-sign-out"></i> Requirements of the room</span>-->
          <div class="form-group">
            <label for="roomtype">Room Type:</label>
            <select class="form-control" id="roomtype" onchange="myFunction()">
              <option selected="selected">All</option>
              <option value="meeting room">Meeting Room</option>
              <option value="work room">Work Room</option>
            </select>
          </div>
          <div class="form-group">
          <label for="roomlocation">Room Location:</label>
            <select class="form-control" id="roomlocation" onchange="myFunction()">
              <option selected="selected">All</option>
              <option value="first floor">First floor</option>
              <option value="second floor">Second floor</option>
            </select>
          </div>
          <div class="form-group">
          <label for="roomsize">Room Size:</label>
          <!-- <input id="roomsize" type="range" value="1" min="1" max="6" onchange="myFunction()"> -->
            <select class="form-control" id="roomsize" onchange="myFunction()">
              <option selected="selected">All</option>
              <option value="4">4 people</option>
              <option value="6">6 people</option>
            </select>
          </div>
          <label>Room Features:</label><br>
          <div class="btn-group" data-toggle="buttons" onchange="myFunction()">
            <label class="btn btn-default active">
              <input type="radio" name="options" id="1table" autocomplete="off" checked> 1 Table
            </label>
            <label class="btn btn-default">
              <input type="radio" name="options" id="2tables" autocomplete="off"> 2 Tables
            </label>
            <label class="btn btn-default">
              <input type="checkbox" name="options" id="projector" autocomplete="off"> Projector
            </label>
          </div>
          <button type="button" class="btn btn-default" onclick="resetValues()">Reset</button><br><br>
        </div>
      </div>
    </div>
</div>
{% if reservationSuccess  %} 
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Success!</strong> Reserved room {{ roomID }} for following times: {{ reservationTimes }}.
    </div> 
   </div> 
</div> 
{% endif %}
{% if reservationFailure  %} 
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Registration failed</strong> Reserving room {{ roomID }} failed for following times: {{ reservationTimes }}!
    </div> 
   </div> 
</div> 
{% endif %}
{% if reservationPending  %} 
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Registration pending</strong> Reserving room {{ roomID }} for following times: {{ reservationTimes }}. Click the confirmation email!
    </div> 
   </div> 
</div> 
{% endif %}
{% if manageReservations  %} 
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="alert alert-info">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Manage reservations</strong> Sending email with reservation management options.
    </div> 
   </div> 
</div> 
{% endif %}
{% if cancellationSuccess  %} 
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Success!</strong> Cancelled room {{ roomID }} for following times: {{ reservationTimes }}.
    </div> 
   </div> 
</div> 
{% endif %}
{% if cancellationFailure  %} 
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Cancellation failed</strong> Cancelling room {{ roomID }} failed for following times: {{ reservationTimes }}!
    </div> 
   </div> 
</div> 
{% endif %}
<script type="text/javascript">
$(function(){
    $("#search-form").validate({
        rules: {
        	email:{
                minlength: 6, 
                required: true
            } 
        },
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
        },
        submitHandler: function(form) {
            addSpinner();
            form.submit();
        }
    });
});
</script>
<script type="text/javascript">
  jQuery('#searchRoom').on('input', function() {
      history.replaceState({}, document.title, '/{{ building }}/' + jQuery('#searchRoom')[0].value);
  }); 
</script>
<script type="text/javascript">
  function resetValues(){
    document.getElementById("roomtype").value = "All";
    document.getElementById("roomlocation").value = "All";
    document.getElementById("roomsize").value = "All";
    $('#1table').closest('.btn').button('toggle');
    if (document.getElementById("projector").checked == true){
      $('#projector').closest('.btn').button('toggle');
    }
    //myFunction();
  }
</script>
<script type="text/javascript">
  $("#searchRoom").keyup(function() {
    var val = $.trim(this.value).toUpperCase();
    roomDynamicFilter(val);
});
  $( document ).ready(function() {
    var val = $("#searchRoom").val().toUpperCase();
    roomDynamicFilter(val);
    $("input[name='email']").val(Cookies.get('gaRemail'));
    timeSlotsPreselection();   
});
  $("input[name='time'], input[name='time2'], input[name='day']").change(function() {
    $( ".selected" ).toggleClass( "selected" );
    var starttime = $("input[name='time']").val().slice(0,$("input[name='time']").val().indexOf(":"))*1;
    var endtime = $("input[name='time2']").val().slice(0,$("input[name='time2']").val().indexOf(":"))*1;
    if (starttime < 8) {
      starttime = 8;
      $("input[name='time']").val("0" + starttime + ":00");
    } else if (starttime > 19) {
      starttime = 19;
      $("input[name='time']").val(starttime + ":00");
    }
    if (endtime < 9) {
      endtime = 9;
      $("input[name='time2']").val("0" + endtime + ":00");
    } else if (endtime > 20) {
      endtime = 20;
      $("input[name='time2']").val(endtime + ":00");
    }
    if (starttime >= endtime) {
      endtime = starttime + 1;
      $("input[name='time2']").val(endtime + ":00");
    }
    timeSlotsPreselection();
  });
  function roomDynamicFilter(val){
    var roomname;
      {% for room in rooms %}
        roomname = "Room" + $("#{{ room.id }}").text().toUpperCase();
        if (val === "")
            $("#{{ room.id }}").show();
        else {
            $("#{{ room.id }}").hide();
            $("#{{ room.id }}").filter(function() {
                return -1 != roomname.indexOf(val);
            }).show();
        }
      {% endfor %}
  }
  function timeSlotsPreselection(){
    
    var starttime = $("input[name='time']").val().slice(0,$("input[name='time']").val().indexOf(":"))-8;
    var endtime = $("input[name='time2']").val().slice(0,$("input[name='time2']").val().indexOf(":"))-8;
    var weekday = new Date($("input[name='day']").val());
    var today = new Date();
    var nextsunday = new Date($("input[name='day']").attr("max"));
    var selectedday = 13 - (nextsunday.getDate() - weekday.getDate());
    //max selectedday = 13 for sunday next weekday
    //min selectedday = 0 for monday this week
    var selectedtime = starttime;
    do {
      $("td[value='"+selectedday+","+selectedtime+"']").toggleClass( "selected" );
      selectedtime++;
    }
    while (endtime-selectedtime > 0);

    $(".btn-notime").toggleClass("btn-notime").toggleClass("btn-success").removeAttr("disabled");
    $(".reservations_tables").each(function( index ) {
      if($( this ).find(".selected").length != (endtime-starttime)) {
        $( this ).closest(".panel").find(".btn-success").toggleClass("btn-success").toggleClass("btn-notime").attr("disabled","disabled");
      }
    });
  }
</script>
<script type="text/javascript">
  function manageReservations() {
    $("#search-form")[0]["reserve"].value = "manageReservations";
    $("#search-form").submit();
    Cookies.set('gaRemail', $("input[name='email']").val(), { expires: 30, path: '/' });
  };

</script> 